@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&family=Red+Hat+Display:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,300;1,400&display=swap');

:root {
    --main-bg-color: rgb(28,28,66);
    --second-bg-color: rgb(67,40,183);
}

a {
    text-decoration: none;
    color: var(--main-bg-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*:-webkit-scrollbar-thumb {
    background-color: var(--main-bg-color);
}


@keyframes MoveHomeImg {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 5px;
    }
}

.toogle {
    width: 30px;
    display: none;
}

.line {
    width: 100%;
    border: 2px solid var(--main-bg-color);
    margin: 5px 0;
}

.close {
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    text-align: right;
}

.side {
    display: none;
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;   
    background-color: #FFF;
    z-index: 10;
    transition: all ease .5s;
}

.sideContainer {
    padding: 15px;
}

.sideList {
    list-style: none;
    text-decoration: none;
}

.sideList li {
    margin-bottom: 15px;
}


.icon-size {
    font-size: 60px;
}

.focus {
    background-color: var(--second-bg-color);
    color: #FFF;
    border-radius: 5px;
    padding: 5px 10px;
}

.focus a {
    color: #FFF;
}

.wppButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FFF;
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.wppButton img {
    width: 80%;
    height: auto;
}

.bg-white {
    background-color: #FFF;
}

.cl-white h1{
    color: #FFF;
}

.ph-20 {
    margin: 20px 0;
}

.container {
    max-width: 1048px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: var(--main-bg-color);
}

header{
    width: 100%;
    background-color: #FFF;
    padding: 5px 0;
}

.logo img {
    width: 180px;
    height: auto;
    border-radius: 10px;
}

.list {
    list-style: none;
    text-decoration: none;
    display: flex;
}

li {
    cursor: pointer;    
    font-weight: bold;
    margin: 0 30px;
    border-bottom: 2px solid transparent;
    line-height: 30px;
}

li .active,
li:hover {
    border-bottom: 2px solid var(--main-bg-color);
}

section {
    padding: 30px 0;
}

.title {
    margin: 10px 0;
    text-align: center;
    font-size: 28px;

    width: 100%;

    color: var(--main-bg-color);
}

.home-left{
   color: #FFF;
}

.home-left h1 {
    margin-top: -200px;
    width: 75%;
    font-size: 60px;
    font-weight: bold;
    font-family: "Red Hat Display", sans-serif;
}

.home-left h5 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
}

.home-right {
    height: 500px;
}

.home-right img{
    width: auto;
    height: 400px;
    animation-name: MoveHomeImg;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2.5s;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 60px;

    margin: 35px 0;
}

.item {
    content: "";
    text-align: center;
    background-color: var(--main-bg-color);
    color: #FFF;
    border-radius: 10px;
    padding: 10px;
}

.item .icon {
    margin: 0 auto;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    background-color: #FFD646;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.item h3{
    margin: 10px 0;
}

.item p {
    margin-bottom: 20px;
}

.item::before {
    width: 50px;
    height: 50px;
    background-color: #FFD646;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px;
    z-index: 10;
}

.infoArea p{
    color: #FFF;
    font-size: 24px;
    font-family: "Red Hat Display", sans-serif;
}

footer {
    color: #FFF;
}


@media (max-width: 768px) {

    .list {
        display: none;
    }

    .toogle {
        display: block;
    }

    .container {
        padding: 0 20px;
    }

    .logo img {
        width: 80px;
        height: auto;
        border-radius: 10px;
    }

    .section .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .section .home-left h1{
        font-size: 35px;
        margin-top: 0;
    }

    .section .home-left h5{
        font-size: 17px;
        margin-top: 10px;
    }


    .section .home-right {
        flex: 1;
        margin-top: 25px;
    }

    .section .home-right img{
        height: 150px;
        width: auto;
        animation: none;
    }

    .services { 
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: flex-start;
    }

    li {
        margin: 0 5px;
        
    }

    .title h1 {
        margin: 15px 0;
        font-size: 35px;
    }

    .item{ 
        margin-top: 30px;
        row-gap: 0px;
    }

    
}